Carlos/
Documenti/
Incontri/

.DS_Store
link utili.txt

data/papers/
data/papers-pdf-arxiv/
data/papers-parquets/
data/.DS_Store

prediction_pd/.ipynb_checkpoints/
prediction_pd/dask-worker-space/
prediction_pd/.DS_Store
prediction_pd/resources/tdidf_bigram.pkl

management_papers/.DS_Store

taxonomy_keywords/.DS_Store
